.maintitle {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 530%;
    color: #032626;
}

.title {
    margin-bottom: 10% !important;
    font-family: 'Fira Sans', sans-serif;
}

.button {
    margin-top: 5%;
}
